/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* general */
html,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

a {
  color: hsl(0, 0%, 13%);
  text-decoration: none;

}

/* header */
.header {

  background-color: #333333;
  overflow: auto;
  line-height: 1.7em;
}

header nav li a {
  color: white;
  padding: 20px;
  display: block;
}

header nav h1 a {
  color: white;

}

header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

ul li a {
  float: right;
  margin-right: 10px;

}

header nav ul li {
  float: left;
}

header nav ul {
  float: right;
  list-style: none;
}
.active{
  background: #444;
}